.detailsContainer{
    display: flex;
    justify-content: center;
    margin: 100px;
}


.synopsisImage{
height: 500px;
width:auto;
}

.detailsRight {
    padding: 0 100px 0 5px;
    width: 50%;
}



@media only screen and (max-width: 600px) {
    .detailsContainer {
      display: flex;
      flex-wrap: wrap;
      margin:50px;
    }
} 

@media only screen and (max-width: 600px) {
    .detailsRight {
   width: 100%;
   padding: 0 0 50px 0;
    }
} 

